name: build dbup-cli

on:
  push:

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git Version
        id: version
        uses: codacy/git-version@2.8.6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        env:
          DOTNET_INSTALL_DIR: ~/.dotnet
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Determine the build configuration
        id: build-config
        run: |
          [string] $configuration = if ('${{ github.ref_name }}' -eq 'main') { 'Release' } else { 'Debug' }
          "configuration=${configuration}" | Out-File -Path $env:GITHUB_OUTPUT -Encoding ascii -Append

      - name: Restore dependencies
        run: dotnet restore ./src/dbup-cli

      - name: Build
        run: |
          dotnet build `
            --no-restore `
            -c ${{ steps.build-config.outputs.configuration }} `
            -p:DebugSymbols=true -p:DebugType=embedded `
            -p:PackageVersion=${{ steps.version.outputs.version }} `
            ./src/dbup-cli

      - name: Test
        run: dotnet test --no-build --verbosity normal ./src/dbup-cli

      - name: Package
        run: |
          dotnet pack `
            --no-restore `
            -c ${{ steps.build-config.outputs.configuration }} `
            -p:DebugSymbols=true `
            -p:DebugType=embedded `
            -p:AssemblyName=fc.dbup-cli `
            -p:PackageVersion=${{ steps.version.outputs.version }} `
            ./src/dbup-cli

      - name: Push
        # if: github.ref_name == 'main' || startsWith(github.ref_name, 'feature/')
        if: github.ref_name == 'main'
        run: |
          dotnet nuget push `
          ./src/dbup-cli/nupkg/**.nupkg `
            --source https://nuget.pkg.github.com/rmc0207/index.json `
            --skip-duplicate `
            --api-key ${{ secrets.GITHUB_TOKEN }}
